@font-face {
    font-family: "Inter";
    src: url("./font/Inter/Inter-VariableFont_slnt_wght.ttf");
}

* {
    font-family: 'Inter';
}

button {
    width: 160px;
    height: 40px;
    background-color: #FCF4DF;
    border: none;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.push {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)inset;
}

.main-container {
    margin: auto;
    width: 360px;
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid grey;
    background-color: #F3E2E2;
    border-radius: 10px;
}

.title {
    text-align: center;
    /* height: 54px; */
    /* border: 1px solid grey; */
}

.mode {
    height: 54px;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input {
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #FFF;
    padding: 5px;
}

.input-right {
    /* border: 1px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-text {
    width: 140px;
    height: 30px;
    font-family: inherit;
    font-size: x-large;
    text-align: center;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25)inset;
    background-color: #F3F3F3;
    color: #F74BF0;
    border: none;
}

.result {
    height: 40px;
    border: 1px solid grey;
    text-align: center;
    font-size: xx-large;
    color: #f00;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
}

.spacing {
    height: 70px;
    /* border: 1px solid grey; */
}

.hint {
    height: 120px;
    border: 1px solid grey;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.hint-number {
    /* border: 1px solid grey; */
    height: 50px;
    padding-bottom: 5px;
    ;
}

.number {
    font-size: xx-large;
    border: 1px solid grey;
    padding: 10px;
    background-color: #D9D9D9;
}

.summary {
    height: 40px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
}